{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    About us | {{ block.super }}
{% endblock title %}

{% block content %}
    <div id="about" class="about">
        <div class="container">
            <div class="about-top heading">
                <h3>About</h3>
            </div>
            <div class="about-bottom">
                <div class="col-md-6 text-center">
                    {% for about_obj in about_qs %}
                        <p class="lead">{{ about_obj.text_left }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-6 text-center">
                    {% for about_obj in about_qs %}
                        <p class="lead">{{ about_obj.text_right }}</p>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="content-team">
        <div class="container">
            <h3 class="m_1">Our Team</h3>
            <div class="team-left">
                {% for members_obj in members_qs %}
                <div class="col-sm-3 team-top ts">
                    <div class="view view-seventh">
                        {% if members_obj %}
                        <a href="#"><img class="img-responsive" src="{{ members_img.image.url }}" alt=""></a>
                        {% else %}
                        {% endif %}
                        <div class="mask">
                            <ul class="social-icons">
                                <li><a href="#"><span class="facebook"> </span></a></li>
                                <li><a href="#"><span class="twitter"> </span></a></li>
                            </ul>
                        </div>
                        <h4>{{ mombers_obj.name }}</h4>
                        <p class="lead">{{ members_obj.business_email }}</p>
                        <p class="lead">{{ members_obj.text }}</p>
                    </div>
                </div>
                {% empty %}
                {% endfor %}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

{% endblock content %}
