{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Contact us | {{ block.super }}
{% endblock title %}


{% block content %}
    <!--contact-->
    <div id="contact" class="contact">
        <div class="container">
            <h3>Contact</h3>
            <div class="row contact-section-grids">
                <div class="col-md-4">
                    <div class="contact-section-leftgrid">
                        <h4>CRAFTHOUSE Ltd.</h4>
                        <P>Fusce suscipit sit amet
                            26 Aenean dignissim str.
                            LONDON, UK</p>
                        <p class="phone1">t. 	+255 55 55 666</p>
                        <p class="phone2">m. 	+255 55 55 777</p>
                        <p class="mail">e-mail : <a href="mail-to:Info@example.com">Info@example.com</a></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-section-rightgrid">
                        <h4>say hello</h4>
                        <form>
                            <input type="text" value=""><span>Your name</span>
                            <input type="text" value=""><span>E-mail</span>
                            <textarea> </textarea>
                            <div class="button">
                                <input type="submit" value="send">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--/contact-->
    <!--map-->
    <div class="map">
        <iframe src="http://maps.google.com/maps?q=28.7225370,77.1277590&z=15&output=embed"> </iframe>
    </div>
    <!--/map-->

{% endblock content %}

